/* src/App.css */
.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
  position: relative;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.countdown {
  margin-bottom: 10px; /* Adjust the margin as needed */
}

.additional-countdowns {
  margin-bottom: 20px; /* Add space between additional countdowns and the chart */
  font-size: 0.8em; /* Make the font size smaller */
}

.additional-countdowns > div {
  margin-top: 5px; /* Add space between each additional countdown */
}

.completion-rate {
  /* margin-bottom: 20px; /1* Add space between the completion rate and the doughnut chart *1/ */
  margin-top: -20px; /* Adjust margin as needed */
  font-size: 1.2em; /* Adjust the font size as needed */
}

.doughnut-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%; /* Ensure the container takes the full width */
  gap: 40px; /* Increase the gap between the doughnuts */
  align-items: top; /* Center align items vertically */
}

.doughnut-wrapper {
  flex: 1; /* Ensure the doughnut charts take equal space */
  max-width: 400px; /* Increase the max width of the doughnut charts */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align items horizontally */
}

.doughnut-wrapper h2 {
  color: white; /* Set the color of the titles to white */
  margin-top: 10px; /* Add space above the title */
}

.doughnut-chart-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align items horizontally */
}

.doughnut-chart {
  width: 300px; /* Set fixed width for the doughnut charts */
  height: 400px; /* Set fixed height for the doughnut charts */
  align-items: top;
}


.cdi-image {
  width: 150px; /* Adjust the width as needed */
  margin-bottom: 20px; /* Add space between the image and the text */
}

/* Media query for mobile devices */
@media (max-width: 600px) {
  .doughnut-container {
    flex-direction: column; /* Stack doughnut charts vertically on mobile */
    gap: 20px; /* Reduce the gap between the doughnuts */
    align-items: center; /* Center align items horizontally */
  }
}

.footer {
  justify-content: right;
  display: flex;
  }

.info-button {
  font-size: 10px;
  cursor: pointer;
  color: white;
  background-color: #555;
  border: none;
  padding: 4px;
  border-radius: 5px;
}

.info-message {
  display: none;
  position: fixed;
  bottom: 60px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: 250px;
  text-align: left;
  z-index: 1000;
 font-size: 16px;
}

.info-message.show {
  display: block;
}

